<footer class="footer py-4 mt-auto bg-dark" id="footer">
    <div class="container ">
        <span class="text-secondary justify-content-center" id="footerText"> &copy; Yelpcamp developed by 
          <a style= 'text-decoration: none;' href="https://github.com/vicky-at-web">Vicky</a>
        </span>
    </div>
</footer>