<footer class="footer bg-dark py-4 mt-auto">
    <div class="container ">
        <span class="text-secondary justify-content-center"> &copy; Yelpcamp developed by 
            <i><a href="https://github.com/vicky-at-web">Vicky</a></i>
        </span>
    </div>
</footer>