<% layout('layouts/boilerplate') -%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" class="formvalid" novalidate enctype="multipart/form-data">
                <div>
                    <label class="form-label" for="title">Title: </label>
                    <input class="form-control" autocomplete="off" type="text" id="title" name="campground[title]"
                        required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please give a title!
                          </div>
                </div>
               
                <br>
                <div>
                    <label class="form-label" for="location">Location: </label>
                    <input class="form-control" required autocomplete="off" type="text" id="location"
                        name="campground[location]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please give a location!
                          </div>
                        
                </div>
                <br>
                <div>
                    <label class="form-label" for="image">Image Url:</label>
                    <input class="form-control" multiple required autocomplete="off" type="file" id="image"
                        name="image" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please upload an image!
                          </div>
                </div>
                <br>
                <div class="input-group mb-3" required>
                    <span class="input-group-text" required>$</span>
                    <input type="text" name="campground[price]" autocomplete="off" required class="form-control"
                        placeholder='0.00' >
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please give a price!
                          </div>
                </div>
                <br>
                <div>
                    <label class="form-label" for="des">Description:</label>
                    <textarea name="campground[description]" autocomplete="off" id="des" cols="20" rows="3"
                        class="form-control" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Not important, but a few lines will look better!
                          </div>
                </div>
                <br>
                <button class="btn btn-success">Add Campground</button>
                <br><br>
                <a href="/campgrounds">All campgrounds</a>
            </form>

        </div>
    </div>



    </div>
    </div>

   