<% layout('layouts/boilerplate') -%>
    <style>
        #map2 {
            height: 500px;
            width: auto;
        }
    </style>

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/new" method="post" class="formvalid" novalidate enctype="multipart/form-data"
                id="form">
                <div>
                    <label class="form-label" for="title">Title: </label>
                    <input class="form-control" autocomplete="off" type="text" id="title" name="campground[title]"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please give a title!
                    </div>
                </div>

                <br>
                <div>
                    <label class="form-label" for="geometry">Coordinates: </label>
                    <div class="input-group mb-3">
                        <input class="form-control" placeholder="lattitude" required autocomplete="off" name="geometry[coordinates]"
                          id="lat"  readonly>
                        <input class="form-control " placeholder="longitude" required autocomplete="off" name="geometry[coordinates]"
                          id="lon"  readonly>


                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please give a location!
                    </div>

                </div>
                <div>
                    <label class="form-label" for="location">Location: </label>
                    <div class="input-group mb-3">
                        <input class="form-control" placeholder="place" required autocomplete="off" type="text"
                            id="place" name="campground[location]" required>

                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please give a location!
                    </div>
                    <div id="map2"></div>
                </div>

                <br>
                <div>
                    <label class="form-label" for="image">Image Url:</label>
                    <input class="form-control" multiple required autocomplete="off" type="file" id="image" name="image"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please upload an image!
                    </div>
                </div>
                <br>
                <div class="input-group mb-3" required>
                    <span class="input-group-text" required>$</span>
                    <input type="text" name="campground[price]" autocomplete="off" required class="form-control"
                        placeholder='0.00'>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please give a price!
                    </div>
                </div>
                <br>
                <div class="input-group mb-3" required>
                    <table class="table table-bordered  table-hover">
                        <thead>
                            <tr>
                                <th scope="col">No</th>

                                <th scope="col">
                                    <center>Places</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="detailsTable" class="">
                            <tr>
                                <th scope="row">1</th>

                                <td><input type="text" class="form-control shadow-none" name="places"></td>

                            </tr>
                            <tr>
                                <th scope="row">2</th>

                                <td><input type="text" class="form-control shadow-none" name="places"></td>

                            </tr>
                            <tr>
                                <th scope="row">3</th>

                                <td><input type="text" class="form-control shadow-none" name="places"></td>
                            </tr>

                        </tbody>
                        <tr>

                            <td colspan="3"><button class="btn" type="button" id="addRowButton"
                                    style="background-color: #a3c98e;">Add Row</button></td>
                        </tr>

                    </table>
                </div>
                <br>

                <div>
                    <label class="form-label" for="des">Description:</label>
                    <textarea name="campground[description]" autocomplete="off" id="des" cols="20" rows="5"
                        class="form-control" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Not important, but a few lines will look better!
                    </div>
                </div>
                <br>
                <button class="btn btn-success">Add Campground</button>
                <br><br>
                <a href="/campgrounds">All campgrounds</a>
            </form>

        </div>
    </div>



    </div>
    </div>
    <script>
       const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
       const campground = false;
    </script>
    <script src="/javascripts/mapconfig.js"></script>
    <script src="/javascripts/addRow.js"></script>